<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
    <!-- Link Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Link Boostrap End-->
    <!-- Link Jquery-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Link Jquery End-->
    <title>JaMocha</title> 
    <link rel="stylesheet" href="../static/CSS/style.css">
    <!--Googlefont beginn-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap" rel="stylesheet">
    <!--Googlefont end-->
</head>

<body>
    <header>
        {% extends "base.html" %}

        {% block title %}JaMocha - Home{% endblock %}
    
        {% block content %}
        <h1>About Us</h1>
    </header>

    <h2 class="text-center mb-4">Enjoy Better And Better Quality Coffee With JaMocha</h2>
    <!-- Seção Newsletter -->
    <section class="newsletter-section">
        <div class="newsletter-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h3 class="newsletter-title">Stay Up To Date On All News And Offers</h3>
                    </div>
                    <div class="col-md-6">
                        <form id="newsletterForm" onsubmit="return validateEmail(event)">
                            <div class="input-container">
                                <div class="input-group">
                                    <input type="email" 
                                           id="emailInput" 
                                           placeholder="Your email address" 
                                           required>
                                    <button type="submit" id="subscribeBtn">Subscribe →</button>
                                </div>
                                <p id="emailMessage" class="message"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Mapa do Google responsivo -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2139.0555929610737!2d90.41086832603432!3d23.79117729575331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c74b38834325%3A0x4c8021f4e3e1e1be!2sGulshan%2002!5e0!3m2!1spt-PT!2sde!4v1730987798698!5m2!1spt-PT!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Contact Info -->
    <div class="container">
        <div class="row justify-content-center g-4">
            <!-- Information Companie -->
            <div class="col-12 col-md-4">
                <div class="contact-info">
                    <img src="../static/image/logo_JaMocha.png" alt="Logo" class="img-fluid">
                    <p>203 Fake St. Mountain View<br>
                        San Francisco, California<br>
                        USA</p>
                </div>
            </div>

            <!-- Working Hours -->
            <div class="col-12 col-md-4">
                <div class="contact-info">
                    <h3>Working Hours</h3>
                    <p>Monday - Friday<br>
                        06:00am - 08:00pm<br>
                        Saturday - Sunday<br>
                        06:00am - 10:00pm</p>
                </div>
            </div>

            <!-- Social Media -->
            <div class="col-12 col-md-4">
                <div class="contact-info">
                    <h3>Contact Us</h3>
                    <p>info@jamocha.com<br>
                        Tel: (030) 5518-8877</p>
                    <div class="social-media">
                        <a href="http://www.instagram.com" target="_blank">
                            <img src="../static/image/instagram_3955024.png" alt="Instagram">
                        </a>
                        <a href="http://www.twitter.com" target="_blank">
                            <img src="../static/image/letter-x_12654263.png" alt="Twitter">
                        </a>
                        <a href="http://www.facebook.com" target="_blank">
                            <img src="../static/image/facebook-2870.png" alt="Facebook">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    {% endblock %}

</body>

</html>